@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@100;200;300;400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: DM Sans, sans-serif;
  }
}

html,
body {
  padding: 0;
  margin: 0;
  background: #050033;
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar {
  background-color: #050033;
  width: 7px;
}

::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background: linear-gradient(
    269.2deg,
    #4dbad6 13.54%,
    #348cf4 50.52%,
    #7b48e8 85.94%
  );
}

.invisible-scroll::-webkit-scrollbar {
  background-color: none;
  width: 0;
}

.background-overlay {
  background: linear-gradient(180deg, rgba(18, 21, 38, 0) 4.88%, #121526 100%),
    radial-gradient(
      50% 50% at 50% 50%,
      #464c78 0%,
      #454b77 31.27%,
      #373d66 46.34%,
      #2e3259 63.27%,
      #2b2f54 70.87%,
      #202446 83.85%,
      #1e2038 100%
    );
  opacity: 0.9;
}

.border-gradient {
  border-image: linear-gradient(98.24deg, #6ddcff 0%, #0157ff 100%) 30;
}

@media only screen and (max-width: 768px) {
  .border-gradient {
    border-image: none;
    border: 1px solid #0157ff;
  }
}

.gradient-link {
  position: relative;
  /* display: inline-block; */
  overflow: hidden;
}

.gradient-link::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.invisible-scroll::-webkit-scrollbar {
  background-color: none;
  width: 0;
}